body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(146, 240, 240);
    padding: 20px;

}
form{
    max-width: 600px;
    margin: 0;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 15px;

}
.form-row{
    display: flex;
    align-items: center;
}
.form-row label{
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
}
.form-row input[type = "text"],
.form-row input[type = "email"],
.form-row select,
.form-row textarea{
    flex-grow : 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
}
.checkbox-row{
    display: flex;
    align-items: center;
}
.checkbox-row label{
    margin-left: 10px;
}
.button-row{
    text-align: right;
}
button[type = "submit"]{
    background-color: rgb(72, 153, 223);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type = "submit"]:hover{
    background-color: blueviolet;
}