body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(146, 240, 240);
    margin: 20px;
}
h1{
    text-align: center;   
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    border: 1px soild white;
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
}
.product-card{
    flex:  [grow] [shink] [basis];
    flex: 1 1 200px;


    min-height: 100px;
    background-color: aliceblue;
    border: 1px soild #ccc;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;

}